
:root{
--primery-color:#e3dfdf;
--secondary-color:#14d55b;
--dark-color:#111111;
--white-color:#ffffff;
--gray-color:#7d7a7a6b;

}
.dark-mode{
--primery-color:#111111;
--secondary-color:#ee5fa7;
--dark-color:#ffffff;
--white-color:#111111;
--gray-color:#7d7a7a6b;

}


